/*
Grupo 7
*/
a {
    text-decoration: none;
    color: #039be5;
}
a:active {
    text-decoration: underline;
}
a:visited {
    text-decoration: underline;
}
.main_article{
    margin: 20px 20px 20px 20px;
    font-family: sans-serif;
    color: #212121;
}
.main_article h2 {
    position:relative; /*This doesnt change anything, 
                       but we need it for the absolute 
                       position in the arrows to work*/
    
    border-bottom: 1px solid gainsboro;
    overflow: hidden;
    margin: 40px 0px 20px;
    font-weight: 200;
    padding-bottom: 3px;
}
.main_article p {
    line-height: 160%;
    font-weight: 500;
}

.articleheader h1{
    color: lightgrey;
    font-weight: 300;
    font-size: 2em;
    font-family: Roboto, sans-serif;
}

.logo {
    float: right;
    max-width: 400px;
}
.logo img {
    /*This makes the image shrink with browser window size*/
    max-width: 100%;
    height: auto;
}

.tldr {
    font-size: 1.2em;
    font-weight: 400;
}
.results {
    font-weight: 400;
}
.introdution ul {
    line-height: 200%;
}

.mainfigure {
    float: right;
    margin: 0 0 40px 40px;

}
.mainfigure img {
    /*This makes the image shrink with browser window size*/
    max-width: 100%;
    height: auto;
}

.back-to-top-icon {
    position: absolute;
    right: 0;
    border-radius: 50%;
}
.back-to-top-icon:active {
    text-decoration: none;
    background-color: cyan;
}

footer {
    color: #999999;
    border-top: 1px solid gainsboro;
    margin: 20px 0px 40px 2%;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 0.85em;
    clear: both;
}

